<div>
  <h2> About Us </h2>
</div>

<div class="d-flex ">
  <img src="/img/human-3.svg" alt="Man Pointing Hands Towards A Create Button" width="473" height="353">
  <div class="d-flex align-items-center">
    <b> User Management Application Is An Application Which Manages The User Data In A Tabular Format And You Can View User Details And Update The Details And delete the user accordingly.</b>
    <img src="/img/human-2.svg" alt="" width="473" height="353">
  </div>
</div>
<div>

</div>